<h2>Cписок клиентов</h2>
<hr>
<% @customer.each do |customer| %>
	<div>
		<h4>Имя:						<%= customer.name %></h4>
		<p> Номер телефона:	<%= customer.number %></p>
		<p>	Описание:				<%= customer.description %></p>
		
		<%= link_to "параметры клиента", customer_path(customer), :class => "btn btn-warning" %>
<hr>

	</div	>
<% end %>
